<a href="https://colab.research.google.com/github/matesoft2033/jupyter-_notebook-h1/blob/main/homework_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **პირველი სავარჯიშო** (1)

In [1]:
three_countries = {
    "Georgia":"Tbilisi",
    "USA":"Washington",
    "France":"Paris"
}

print(three_countries.keys())
print(three_countries.values())

dict_keys(['Georgia', 'USA', 'France'])
dict_values(['Tbilisi', 'Washington', 'Paris'])

## **მეორე სავარჯიშო** (2)

In [2]:
build_projects = [
    {"Description": "Ecology", "time_for_complete": 3},
    {"Description": "Geology", "time_for_complete": 5},
    {"Description": "Biology", "time_for_complete": 6},
]

project1 = build_projects[0]
project1_key = list(project1.keys())[1]

for project in build_projects:
  if project[project1_key] > 4:
    print(f"You should do {project} firstly")

You should do {'Description': 'Geology', 'time_for_complete': 5} firstly
You should do {'Description': 'Biology', 'time_for_complete': 6} firstly

## **მესამე სავარჯიშო** (3)

In [4]:
num = int(input("Enter a number: "))

if num % 2 == 0:
  print("The number is even")
else:
  print("The number is odd")

Enter a number: 25
The number is odd

## **მეოთხე სავარჯიშო** (4)

In [5]:
nums = [1,2,3,4,5,6,7,8,9,10]

for n in nums:
  print(n)

1
2
3
4
5
6
7
8
9
10

## **მეხუთე სავარჯიშო** (5)

In [8]:
for k in range(1,21):
  if k % 2 == 1:
    print(k)

1
3
5
7
9
11
13
15
17
19

## **მეექვსე სავარჯიშო** (6)

In [12]:

age = int(input("Please enter you age: "))
print(f"Your age is {age}")

Please enter you age: 15
Your age is 15

## **მეშვიდე სავარჯიშო** (7)

In [14]:
try:
  num1 = int(input("Enter first number: "))
  num2 = int(input("Enter second number: "))
  print (num1 / num2)
except ZeroDivisionError:
  print(f"The second number can't be zero")

Enter first number: 0
Enter second number: 1
0.0

## **მერვე სავარჯიშო** (8)

In [15]:
cubes = [x**3 for x in range(1,11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## **მეცხრე სავარჯიშო** (9)

In [18]:
from os import read
with open("data.txt", "w") as file:
  file.write("line1\n")
  file.write("line2\n")
  file.write("line3\n")

with open("data.txt", "r") as file:
  content = file.read()
  print(content)

line1
line2
line3

## **მეათე სავარჯიშო** (10)

In [19]:
birth = (2009, 8, 24)
print(f"Year: {birth[0]}, Month: {birth[1]}, Day: {birth[2]}")

Year: 2009, Month: 8, Day: 24

## **მეთერთმეტე სავარჯიშო** (11)

In [20]:
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def description(self):
    return f"This car is a {self.brand} {self.model}"

car = Car("BMW", "E60")
print(car.description())

This car is a BMW E60